.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 5rem;
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Content {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media (max-width: 600px) {
	.Content {
		margin-top: 5rem;
		flex-direction: column-reverse;
		text-align: center;
	}
}

.Projects {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
}

.Project {
	min-width: 400px;
	height: 90%;
	background: red;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	margin-left: 2rem;
	background: rgba(99, 253, 210, 0.8) /* Green background with 30% opacity */
}

.ProjectImage {
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
}

@media (max-width: 600px) {
	.Project {
		min-width: 400px;
	}
}

.Image {
	width: 300px;
	height: auto;
	max-height: 300px;
	border: 3px solid black;
}
img {
	object-fit: cover;
	border-radius: 50%;
}
